@keyframes slide-in {
    0% {
        opacity: 0;
        border: 5px solid white;
        border-radius: 100%;
        padding: 10px;
        font-size: 200%;
    }

    99% {
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 100%;
        padding: 1px;
    }

    100% {
        opacity: 1;
        font-size: 150%;
        border: none;
    }
}

.add-icon {
    cursor: pointer;
    animation: slide-in 0.5s
}

.invisible-tree {
    display: none;
}

mat-icon {
    cursor: pointer;
}